* {
  margin: 0;
}

.app{
  background-color: #fafafa;
  /* height: 100vh; */
}

.app__header{
  background-color: white;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  padding: 20px;
}

.app__signupForm{
    display: flex;
    flex-direction: column;
}